<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
  	<class name="org.saucedemo.Testcases.Test_001_Login"/>
	<class name="org.saucedemo.Testcases.MenuTest" />    
      <class name="org.saucedemo.Testcases.ProductTest"/>
      <class name="org.saucedemo.Testcases.CartTest"/>
      <class name="org.saucedemo.Testcases.CheckoutTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
